In [1]:
#Library Yang Digunakan

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Perintah Membaca Data Penelitian

df = pd.read_excel('Data.xlsx')

In [3]:
#Menampilkan Data

df

     Rank Grade        Channel Name  Video Upload Subscriber      Video View
0     1st    B+      Ricis Official         1.961      30.3M   5,054,143,719
1     2nd    B+                  AH         1.781      29.9M   4.047,338,027
2     3rd    B+       Jess No Limit         1.896      24.7M   3,053,969,517
3     4th    A-   Rans Entertaiment         3.031        24M   5,644,388,777
4     5th     A     TRANS7 OFFICIAL        78.292      23.1M  12,297,990,842
..    ...   ...                 ...           ...        ...             ...
95   96th    B+  123 GO! Indonesian       334.000      6.45M   2,410,058,470
96   97th    B+     Indonesian Idol         1.278      6.44M   1,819,938,050
97   98th     A   Heidi dan Zidane        446.000      6.43M   3,391,066,770
98   99th     B           WAWAN MKS       810.000       6.3M     491,338,492
99  100th    B+       Calon Sarjana         1.228       6.3M     453,987,681

[100 rows x 6 columns]

In [4]:
#Menampilkan Struktur Data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          100 non-null    object
 1   Grade         99 non-null     object
 2   Channel Name  100 non-null    object
 3   Video Upload  99 non-null     float64
 4   Subscriber    100 non-null    object
 5   Video View    100 non-null    object
dtypes: float64(1), object(5)
memory usage: 4.8+ KB

In [5]:
#Mengatasi Missing Value Handling

df['Grade'].fillna(df['Grade'].mode()[0], inplace=True)
df['Video Upload'].fillna(df['Video Upload'].mean(), inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          100 non-null    object
 1   Grade         100 non-null    object
 2   Channel Name  100 non-null    object
 3   Video Upload  100 non-null    float64
 4   Subscriber    100 non-null    object
 5   Video View    100 non-null    object
dtypes: float64(1), object(5)
memory usage: 4.8+ KB

In [7]:
df

     Rank Grade        Channel Name  Video Upload Subscriber      Video View
0     1st    B+      Ricis Official         1.961      30.3M   5,054,143,719
1     2nd    B+                  AH         1.781      29.9M   4.047,338,027
2     3rd    B+       Jess No Limit         1.896      24.7M   3,053,969,517
3     4th    A-   Rans Entertaiment         3.031        24M   5,644,388,777
4     5th     A     TRANS7 OFFICIAL        78.292      23.1M  12,297,990,842
..    ...   ...                 ...           ...        ...             ...
95   96th    B+  123 GO! Indonesian       334.000      6.45M   2,410,058,470
96   97th    B+     Indonesian Idol         1.278      6.44M   1,819,938,050
97   98th     A   Heidi dan Zidane        446.000      6.43M   3,391,066,770
98   99th     B           WAWAN MKS       810.000       6.3M     491,338,492
99  100th    B+       Calon Sarjana         1.228       6.3M     453,987,681

[100 rows x 6 columns]

In [8]:
#Encoding

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

df['Grade'] = encoder.fit_transform(df['Grade'].values)
df_grade = df[['Grade']].copy()
df['Subscriber'] = encoder.fit_transform(df['Subscriber'].values)
df['Video View'] = encoder.fit_transform(df['Video View'].values)

df = pd.concat([df, df_grade], axis = 1)
df

,Rank,Grade,Channel Name,Video Upload,Subscriber,Video View,Grade
0,1st,3,Ricis Official,1.961,32,74,3
1,2nd,3,AH,1.781,31,70,3
2,3rd,3,Jess No Limit,1.896,29,46,3
3,4th,1,Rans Entertaiment,3.031,30,78,1
4,5th,0,TRANS7 OFFICIAL,78.292,28,33,0
...,...,...,...,...,...,...,...
95,96th,3,123 GO! Indonesian,334.000,36,37,3
96,97th,3,Indonesian Idol,1.278,35,25,3
97,98th,0,Heidi dan Zidane,446.000,34,53,0
98,99th,2,WAWAN MKS,810.000,33,72,2
99,100th,3,Calon Sarjana,1.228,33,71,3

In [9]:
#Menggunakan Fungsi X dan Y

x = df.drop(df[['Rank', 'Grade', 'Channel Name']], axis=1)
y = df_grade

In [10]:
#SPLIT DATA

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y,test_size=0.2, random_state=0)

In [11]:
print (x_train)

    Video Upload  Subscriber  Video View
43        71.575          84          66
62         1.512          66          59
3          3.031          30          78
71         1.000          59          27
45      1120.000          82          17
..           ...         ...         ...
96         1.278          35          25
67       499.000          62          98
64         1.531          65           8
47       320.000          80          99
44       860.000          83          94

[80 rows x 3 columns]

In [12]:
print (x_test)

    Video Upload  Subscriber  Video View
26       405.000           7           3
86         1.951          45           9
2          1.896          29          46
55      1900.000          74          19
75       286.000          55          50
93         6.743          38          40
16         1.779          17          11
73        13.129          57          56
54       363.000          75          49
95       334.000          36          37
53       650.000          76          55
92         1.037          39          90
78       674.000          52           2
13       572.000          19          43
7         57.826          25          95
30       107.000           3          44
22        53.993          10          86
24         2.305           9          41
33         1.326           1          96
8          1.116          24          60

In [13]:
print(y_train)

    Grade
43      1
62      3
3       1
71      1
45      3
..    ...
96      3
67      3
64      3
47      3
44      3

[80 rows x 1 columns]

In [14]:
print(y_test)

    Grade
26      2
86      3
2       3
55      3
75      3
93      3
16      3
73      1
54      3
95      3
53      0
92      2
78      3
13      1
7       0
30      2
22      1
24      2
33      3
8       1

In [15]:
#Normalisasi/Standarisasi Data

from sklearn.preprocessing import StandardScaler

standard = StandardScaler()
standard.fit(x_train)

x_train_std = standard.fit_transform(x_train)
x_test_std = standard.fit_transform(x_test)

# Algoritma C4.5

In [1]:
from sklearn.tree import DecisionTreeClassifier

decision_tree = DecisionTreeClassifier()
decision_tree = decision_tree.fit(x_train_std, y_train)

NameError: name 'x_train_std' is not defined

In [2]:
#Pengujian model C4.5

print('Training Accuracy :', decision_tree.score(x_train_std, y_train)*100)
print('Testing Accuracy :', decision_tree.score(x_test_std, y_test)*100)

NameError: name 'x_train_std' is not defined

In [3]:
#Evaluasi dan Validasi model C4.5

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

decision_tree = DecisionTreeClassifier()

kfold = KFold(n_splits=10)
accuracy = cross_val_score(decision_tree, x, y, scoring='accuracy', cv=kfold)
accuracy_percentage = accuracy.mean()*100

print('Akurasi Model C4.5: ',accuracy_percentage)

NameError: name 'x' is not defined

# Algoritma Naive Bayes

In [19]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()
nb = nb.fit(x_train_std, y_train)

In [4]:
#Pengujian model Naive Bayes

print('Training Accuracy :', nb.score(x_train_std, y_train)*100)
print('Testing Accuracy :', nb.score(x_test_std, y_test)*100)

NameError: name 'nb' is not defined

In [21]:
#Evaluasi dan Validasi Model Naive Bayes

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

nb = GaussianNB()

kfold = KFold(n_splits=10)
accuracy = cross_val_score(nb, x, y, scoring='accuracy', cv=kfold)
accuracy_percentage = accuracy.mean()*100

print('Akurasi Model Naive Bayes: ',accuracy_percentage)

Akurasi Model Naive Bayes:  37.0

# Algoritma KNN

In [22]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 2)
knn = knn.fit(x_train_std, y_train)

# Pengujian model KNN

print('Training Accuracy :', knn.score(x_train_std, y_train)*100)
print('Testing Accuracy :', knn.score(x_test_std, y_test)*100)

In [24]:
#Evaluasi dan Validasi Model KNN

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

knn = KNeighborsClassifier(n_neighbors = 2)

kfold = KFold(n_splits=10)
accuracy = cross_val_score(knn, x, y, scoring='accuracy', cv=kfold)
accuracy_percentage = accuracy.mean()*100

print('Akurasi Model KNN: ',accuracy_percentage)

Akurasi Model KNN:  33.0